<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
{{template "header"}}

<body>
    {{template "navbar" .}}
    <div class="side-menu">
            <div class="ui vertical menu">
                <a class="item" href="/editClient/{{.Client.ClientID}}">
                    Client Info
                </a>
                <a class="item" href="/oauth2/{{.Client.ClientID}}">
                    Security
                </a>
                <a class="{{.GwSideMenu.GWActive}} item" href="/gateway/{{.Client.ClientID}}">
                    ApiGateway
                </a>
                <a class="{{.GwSideMenu.GWClientActive}}  item" href="/gatewayClient/{{.Client.ClientID}}">
                    -- Gateway Client
                </a>
                <a class="{{.GwSideMenu.RouteActive}} item" href="/gatewayRoutes/{{.Client.ClientID}}">
                    -- Routes
                </a>
                <a class="{{.GwSideMenu.RouteURLsActive}} item" href="/gatewayRouteUrls/{{.Client.ClientID}}">
                    -- Route Mapping
                </a>
                <a class="{{.GwSideMenu.EditRoute}} item" href="/gatewayRouteUrlsByRoute/{{.GatewayRoute.ID}}/{{.Client.ClientID}}">
                --> {{.GatewayRoute.Route}}
                </a>  
                <a class="{{.GwSideMenu.EditURL}} item" href="/editGatewayRouteUrl/{{.GatewayRouteURI.ID}}/{{.GatewayRoute.ID}}/{{.Client.ClientID}}">
                ---> {{.GatewayRouteURI.Name}}
                </a>  
            </div>
        </div>
    <div class="client-edit-form">
        <form class="ui form">
            <h4 class="ui dividing header">Route URL Information</h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Client Name</label>
                        <input type="text" value="{{.Client.Name}}" disabled>
                    </div>
                    <div class="field">
                        <label>ClientID</label>
                        <input type="text" value="{{.Client.ClientID}}" disabled>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Route Name</label>
                <input type="text" value="{{.GatewayRoute.Route}}" disabled>
            </div>
        </form>
        <div class="add-inner-form">
            <form method="POST" class="ui form" action="/updateGatewayRouteUrl">
                <div class="field">
                    <label>URL Name</label>
                    <input type="text" name="name" value="{{.GatewayRouteURI.Name}}" required>
                </div>
                <div class="field">
                    <label>URL</label>
                    <input type="text" name="gwUrl" value="{{.GatewayRouteURI.URL}}" required>
                </div>
                <input type="hidden" name="id" value="{{.GatewayRouteURI.ID}}">
                <input type="hidden" name="routeId" value="{{.GatewayRoute.ID}}">
                <input type="hidden" name="clientId" value="{{.Client.ClientID}}">
                <button class="ui button" type="submit">Update</button>
            </form>
        </div>
    </div>


    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            <p id="hd">Delete this URL?</p>
        </div>
        <div class="content">
            <p id="cont">Delete this URL?</p>

        </div>
        <div id="del" style="display: none;" class="actions">
            <div class="ui black cancel button">Cancel</div>
            <div onclick="location.href='/deleteGatewayRouteUrl/'+getGwRouteUrlId()+ '/'  + {{.GatewayRoute.ID}} + '/' + {{.Client.ClientID}};"
                class="ui negative button">Delete</div>
        </div>

        <div id="act" style="display: none;" class="actions">
            <div class="ui negative button">No</div>
            <div onclick="location.href='/activateGatewayRouteUrl/'+getGwRouteUrlId2()+ '/'  + {{.GatewayRoute.ID}} + '/' + {{.Client.ClientID}};"
                class="ui positive button">Yes</div>
        </div>
    </div>

</body>

</html>